---
layout: indexLayout.liquid
---
<!-- ^^^^
  this is YAML front matter that becomes our data store for key/value pairs.
  layout is a specific keyword here that when called will look for a layout
  template from the default location of _includes.

  our layout here is indexLayout.liquid. eleventy will look for that file and
  wrap our content here with that template.

  also of note, the front matter must be the first thing in the file or it won't
  compile correctly.
-->

<div class="container">
  <div id="carouselId" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
          <div class="carousel-inner">
              {{ content }}
          </div>
      </div>
  </div>
</div>
<a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>

